.container {
    display: flex;
    max-width: 520px;
    padding: 45px 40px 40px;
    gap: 20px;
    border-radius: var(--r-body);
    border: 1px solid rgba(38, 78, 118, 0.1);
    transition: background-color linear 0.3s;
}

.container:hover {
    background-color: var(--white);
    box-shadow: rgba(38, 78, 118, 0.1) 0 4px 25px !important
}

.img {
    flex: 0 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: var(--r-body);
    background-color: var(--yellow);
    box-shadow: var(--yellow) 0 2px 10px;
}

.desc {
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--secondary);
    margin-bottom: 10px;
    font-size: 20px;
}

.text {
    color: var(--over);
    font-size: 15px;
    line-height: 2.13;
}
