.container {
    display: flex;
    gap: 100px;
    flex-direction: column;
    justify-content: space-between;
}

.posts {
    flex: 1;
}

.post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
}

.imgContainer {
    width: 200px;
    height: 100px;
}

.img {
    object-fit: cover;
}

.delete {
    cursor: pointer;
    color: red;
}
