.container {
    height: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    opacity: 1;
    cursor: pointer;
    transition: all linear 0.3s;
}

.icon:hover {
    opacity: 0.6;
}
