.container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    letter-spacing: -0.5px;
    font-weight: 700;
}

.link {
    transition: all linear 0.3s;
}

.link:hover {
    color: var(--secondary);
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout {
    padding: 5px;
    border: none;
    background-color: #53c28b;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}
