.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../../../public/images/dots.svg");
    background-position: -200px -30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container_title {
    padding: 0 30px 40px;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.5px;
    font-weight: 700;
}

.container_subtitle {
    font-size: 18px;
    font-weight: 700;
    margin: 0 auto;
    color: var(--secondary);
    letter-spacing: 1.23px;
}

.diplomas {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: var(--r-body);
    background-color: var(--white);
    position: relative;
}

.diplomas > figure {
    cursor: pointer;
}

.diplomas > img {
    object-fit: cover;
}

.about_container {
    display: flex;
    gap: 80px;
}

.img_container {
    width: 100%;
    position: relative;
}

.img {
    object-fit: contain;
    border-bottom: 3px solid var(--primary);
}

.img_title {
    text-align: center;
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 1.8;
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text_title {
    font-size: 20px;
    letter-spacing: -0.5px;
    line-height: 1.8;
    font-weight: 700;
}

.item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    border: 1px solid var(--border);
    border-radius: var(--r-body);
    background-color: var(--white);
}

.desc {
    font-size: 15px;
    text-align: justify;
    color: var(--primary);
    line-height: 1.73;
}

.full {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 100;
    background-color: rgba(15, 33, 55, 0.70);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.do_not_show {
    display: none;
}
