.container {
}

.top {
    display: flex;
    gap: 20px
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 40px;
}

.desc {
    font-size: 18px;
    color: var(--over);
}

.author_desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    border-radius: var(--r-body);
    background-color: var(--white);
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--over);
}

.avatar {
    object-fit: cover;
}

.imageContainer {
    flex: 1;
    height: 300px;
    position: relative;
}

.image {
    object-fit: cover;
}

.content {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 300;
    color: #999;
    text-align: justify;
}

.text {
    font-size: 15px;
    color: var(--primary);
    line-height: 1.73;
}

.footer_btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0 80px 0;
}
