:root {
    --secondary: #2374E1;
    --grey: #F6F8FB;

    --r-body: 10px;
    --r-section: 5px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.theme {
    transition: 1s all ease;
}

.light {
    --primary: #0F2137;
    --white: #FFFFFF;
    --blue: #77A7FF;
    --over: #343D48;
    --red: #FF0066;
    --secondary-red: #ff4496;
    --yellow: #FBAE3C;

    --border: rgba(38, 78, 118, 0.1);

    color: var(--primary);

    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(248, 250, 253, 1) 37%, rgba(248, 250, 253, 1) 100%);
}

.dark {
    --primary: #DCDDD8;
    --white: #354B5E;
    --blue: #425e91;
    --over: #96C0CE;
    --red: #C25B56;
    --secondary-red: #D74B4B;
    --yellow: #d0a727;

    --border: #525564;

    color: var(--primary);

    background: rgb(15, 33, 55);
    background: linear-gradient(180deg, rgba(15, 33, 55, 1) 0%, rgba(52, 61, 72, 1) 100%);
}

.container {
    max-width: 1366px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
