.wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.not_found_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-direction: column;
}
