.container {
    width: 46px;
    height: 24px;
    border: 2px solid var(--primary);
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2px 2px 2px;
    cursor: pointer;
    position: relative;
}

.icon {
    font-size: 12px;
}

.ball {
    width: 17px;
    height: 17px;
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
}
