.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.mainContainer {

}

.imageContainer {
    
}

.image {
    object-fit: cover;
}

.content {
}

.title {
    margin-bottom: 10px;
}

.desc {
    font-size: 18px;
    color: var(--over);
}
