.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
    padding: 15px;
    border: 1px solid var(--border);
    border-radius: var(--r-body);
    background-color: var(--white);
}

.mainContainer {
    height: calc(100vh - 130px);
}

.title {
    padding: 0 30px 40px;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.5px;
    font-weight: 700;
}

.imageContainer {
    flex: 0 0 400px;
    border-radius: var(--r-section);
    overflow: hidden;
    width: 400px;
    height: 250px;
}

.image {
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.post_title {
    margin-bottom: 10px;
}

.post_desc {
    font-size: 18px;
    color: var(--over);
}

.post_user {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--over);
}

.post_date {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-weight: 600;
    color: var(--over);
}
