.container {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.mainContainer {
    height: calc(100vh - 130px);
}

.title {
    padding: 0 30px 40px;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.5px;
    font-weight: 700;
}

.imageContainer {

}

.image {
    object-fit: cover;
}

.content {
}

.post_title {
    margin-bottom: 10px;
}

.post_desc {
    font-size: 18px;
    color: var(--over);
}
