.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 520px;
    padding: 45px 40px 40px;
    gap: 20px;
    border-radius: var(--r-body);
    border: 1px solid rgba(38, 78, 118, 0.1);
    transition: background-color linear 0.3s;
    flex: 0 0 350px;
    position: relative;
}

.container:hover {
    background-color: var(--white);
    box-shadow: rgba(38, 78, 118, 0.1) 0 4px 25px !important
}

.promo {
    position: absolute;
    padding: 5px 35px;
    border-radius: var(--r-section);
    background-color: var(--yellow);
    color: var(--white);
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    top: -15px;
    left: 50px;
}

.title {
    font-size: 20px;
    line-height: 1.25;
    font-weight: 700;
    letter-spacing: -0.55px;
}

.desc {
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 1.6;
    margin: 0 0 15px;
    color: var(--over);
}

.item::before {
    content: url("../../../../../../public/icons/check-circle.svg");
    margin-right: 10px;
}

.price {
    font-size: 30px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.55px;
    margin: 0 auto;
}

.btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
